@import url('./src/styles/header.css');
@import url('./src/styles/home-section.css');
@import url('./src/styles/button.css');
@import url('./src/styles/history-section.css');
@import url('./src/styles/reservation-section.css');
@import url('./src/styles/option.css');
@import url('./src/styles/menu-section.css');
@import url('./src/styles/text.css');
@import url('./src/styles/special-menu-section.css');
@import url('./src/styles/chef-section.css');
@import url('./src/styles/customers-section.css');
@import url('./src/styles/video-section.css');
@import url('./src/styles/awards-section.css');
@import url('./src/styles/blog-section.css');
@import url('./src/styles/photo-section.css');
@import url('./src/styles/subscribe-section.css');
@import url('./src/styles/footer.css');
@import url('./src/styles/phone-style/header-mobile.css');
@import url('./src/styles/burger-menu/burger.css');

body {
 background-color: #0C0B08;
 color: #ffffff;
 font-family: 'Open Sans';
}