.reservation-section {
    background-color: #040404;
    padding: 0 20px 152px 20px;
}

.reservation-section-wrapper {
    display: flex;
    flex-direction: column;
    width: 1364px;
    height: 462px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0C0C0C;
    border: 2px solid #DCCA8733;
}

.reservation-section-spoon {
    margin: 0 auto;
}

.label {
    background-image: url('../images/Group\ 85.png');
    background-repeat: no-repeat;
    color:  #ffffff;
    height: 146px;
    width: 146px;
}

.reservation-section-label {
    margin-left: auto;
    padding-right: 195px;
}

