@import url('./header.css');
@import url('./home-section.css');
@import url('./button.css');
@import url('./history-section.css');
@import url('./reservation-section.css');
@import url('./option.css');
@import url('./menu-section.css');
@import url('./text.css');
@import url('./special-menu-section.css');
@import url('./chef-section.css');
@import url('./customers-section.css');
@import url('./video-section.css');
@import url('./awards-section.css');

body {
 background-color: #0C0B08;
 color: #ffffff;
 font-family: 'Open Sans';
}