.additional-text {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
}

.title {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #DCCA87;
}

.dishes-menu-title {
    font-size: 45px;
    color: #FFFFFF;
}

.dishes-name {
    font-weight: 700;
    font-size: 23px;
    width: 192px;
}

.ingredients-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}
