@media (max-width: 1300px) {
   .history-section-container {
        max-width: 400px;
   }

   .history-section-wrapper {
        width: 100%;
        padding-top: 0px;
        padding: 65px 0;
   }

   .title {
        font-size: 50px;
   }

   .history-section-img {
        background-size: contain;
        margin: 0 20px;
    }

    .history-section {
        height: 100%;
    }
}

@media (max-width: 989px) {
    .history-section-container {
        max-width: 400px;
   }
}

@media (max-width: 700px) {

     .history-section-img {
          margin: 0 10px;
     }

    .history-section-container {
          padding: 0 20px;
          width: 100%;
   }

     .history-section-img {
          background-position: center;
          height: 400px;
     }
}

@media (max-width: 643px) {
     .history-section-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
     }

    .history-section-container {
          max-width: 400px;
     }
}

@media (max-width: 450px) {
       .history-section-container {
          max-width: 250px;
        }
   }

@media (max-width: 450px) {
     .history-section-container {
        max-width: 190px;
      }
 }